<div class="home__container">
  <app-card gameCover="assets/bt-1.jpg"
    gameLabel="Digital"
    gamePrice="R$ 299,99"
    gameType="DIGITAL - PS5"
  >
  </app-card>
  <app-card gameCover="assets/bt-5.jpg"
    gameLabel="Exclusive"
    gamePrice="R$ 99,99"
    gameType="EXCLUSIVE - PS5"
  >
  </app-card>
  <app-card gameCover="assets/bt-4.jpg"
    gameLabel="Exclusive"
    gamePrice="R$ 599,99"
    gameType="EXCLUSIVE - PS5"
  >
  </app-card>
  <app-card gameCover="assets/bt-hardline.jpg"
    gameLabel="Exclusive"
    gamePrice="R$ 99,99"
    gameType="EXCLUSIVE - PS5"
  >
  </app-card>
  <app-card gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="Exclusive"
    gamePrice="R$ 199,99"
    gameType="EXCLUSIVE - PS5"
  >
  </app-card>
  <app-card gameCover="assets/ac-cover.jpg"
    gameLabel="Exclusive"
    gamePrice="R$ 69,99"
    gameType="EXCLUSIVE - PS5"
  >
  </app-card>
</div>

